<TITLE>Directory listing of examples/tests</TITLE>
<H1>Directory listing of examples/tests</H1><pre>
	 152 Feb 15  2003 <a href="../">..</a>
	2416 Jan  1  2004 <a href="7seg.bas">7seg.bas</a>
	 504 Jan  1  2003 <a href="alertinput.bas">alertinput.bas</a>
	2399 Mar 23  2001 <a href="alerts.1-0">alerts.1-0</a>
	2955 Mar 23  2001 <a href="alerts.1-4">alerts.1-4</a>
	 378 Jan  1  2003 <a href="alerttest.bas">alerttest.bas</a>
	 290 Jan  1  2003 <a href="ansicolor.bas">ansicolor.bas</a>
	 271 Aug  3  2003 <a href="arraytest.bas">arraytest.bas</a>
	 996 May  2  2002 <a href="benchmark.bas">benchmark.bas</a>
       50374 Jan  4  2003 <a href="bitmaptest.bas">bitmaptest.bas</a>
	 661 Jan  1  2003 <a href="colors.bas">colors.bas</a>
	 677 Apr  1  2001 <a href="copyareatest.bas">copyareatest.bas</a>
	 617 Jun 22  2003 <a href="deffilltest.bas">deffilltest.bas</a>
	 373 Jun 22  2003 <a href="defmousetest.bas">defmousetest.bas</a>
	 221 Oct 12 14:32 <a href="dragbox.bas">dragbox.bas</a>
	1586 Jan  1  2003 <a href="edit.bas">edit.bas</a>
	 725 Oct 12  2004 <a href="filltest.bas">filltest.bas</a>
       16049 Apr  2  2001 <a href="fish_24.xwd">fish_24.xwd</a>
	 281 Jan  1  2003 <a href="font.bas">font.bas</a>
	 531 Sep 14 00:04 <a href="forktest.bas">forktest.bas</a>
	 531 Sep 14 00:04 <a href="forktest2.bas">forktest2.bas</a>
	1134 Jan  1  2003 <a href="fouriertest.bas">fouriertest.bas</a>
	2492 Oct 20  2002 <a href="gettest.bas">gettest.bas</a>
	4045 Jan 28  2002 <a href="index.html">index.html</a>
	 325 Apr 23  2002 <a href="inlinetest.bas">inlinetest.bas</a>
	 349 Sep 14 00:08 <a href="keyeventtest.bas">keyeventtest.bas</a>
	 325 Jan  1  2003 <a href="linktest.bas">linktest.bas</a>
	 867 Jan  1  2005 <a href="mattest.bas">mattest.bas</a>
	1300 Jan  1  2003 <a href="menutest.bas">menutest.bas</a>
	 435 Jun  1  2004 <a href="onerror-test.bas">onerror-test.bas</a>
	 342 Jan  1  2003 <a href="ontest.bas">ontest.bas</a>
	 506 Jan  1  2003 <a href="polytest.bas">polytest.bas</a>
	1024 Aug 27  2001 <a href="shmtest.bas">shmtest.bas</a>
	 203 May  4  2002 <a href="singlebench.bas">singlebench.bas</a>
	 617 Aug 30  2003 <a href="soundtest.bas">soundtest.bas</a>
	 618 Jan 03  2013 <a href="sqldemo.bas">sqldemo.bas</a>
</pre>
